# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [42]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [43]:
wine = pd.read_csv(r"https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [44]:
wine.drop(['1','2.43','2.8','.28','5.64','3.92','1065'],axis=1,inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [45]:
wine[['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']] = None

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [46]:
wine.loc[0:2,'alcohol'] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [47]:
wine.loc[3:4,'magnesium'] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [51]:
wine['alcohol'].fillna(10,inplace=True)

### Step 9. Count the number of missing values

,14.23,1.71,15.6,127,3.06,2.29,1.04,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05,10.0,0,0,0.0,0,0,0
1,13.16,2.36,18.6,101,3.24,2.81,1.03,10.0,0,0,0.0,0,0,0
2,14.37,1.95,16.8,113,3.49,2.18,0.86,10.0,0,0,0.0,0,0,0
3,13.24,2.59,21.0,118,2.69,1.82,1.04,0.0,0,0,NaN,0,0,0
4,14.20,1.76,15.2,112,3.39,1.97,1.05,0.0,0,0,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,0.64,0.0,0,0,0.0,0,0,0
173,13.40,3.91,23.0,102,0.75,1.41,0.70,0.0,0,0,0.0,0,0,0
174,13.27,4.28,20.0,120,0.69,1.35,0.59,0.0,0,0,0.0,0,0,0
175,13.17,2.59,20.0,120,0.68,1.46,0.60,0.0,0,0,0.0,0,0,0
176,14.13,4.10,24.5,96,0.76,1.35,0.61,0.0,0,0,0.0,0,0,0

### Step 10.  Create an array of 10 random numbers up until 10

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

### Step 12.  How many missing values do we have?

### Step 13. Delete the rows that contain missing values

### Step 14. Print only the non-null values in alcohol

### Step 15.  Reset the index, so it starts with 0 again

### BONUS: Create your own question and answer it.