# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [65]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [66]:
iris = pd.read_csv(r"https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

### Step 4. Create columns for the dataset

In [67]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris['sepal_length (in cm)'] = 0
iris['sepal_width (in cm)'] = 0
iris['petal_length (in cm)'] = 0
iris['petal_width (in cm)'] = 0
iris['class'] = 0

### Step 5.  Is there any missing value in the dataframe?

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [68]:
iris.loc[10:29,"petal_length (in cm)"] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [69]:
iris["petal_length (in cm)"] = iris["petal_length (in cm)"].apply(lambda x: 1 if np.isnan(x) else x)

### Step 8. Now let's delete the column class

In [70]:
iris.drop("class",axis=1,inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [71]:
iris.loc[0:2,:] = np.nan

### Step 10.  Delete the rows that have NaN

In [72]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [73]:
iris.reset_index()

,index,5.1,3.5,1.4,0.2,Iris-setosa,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,3,5.0,3.6,1.4,0.2,Iris-setosa,0.0,0.0,0.0,0.0
1,4,5.4,3.9,1.7,0.4,Iris-setosa,0.0,0.0,0.0,0.0
2,5,4.6,3.4,1.4,0.3,Iris-setosa,0.0,0.0,0.0,0.0
3,6,5.0,3.4,1.5,0.2,Iris-setosa,0.0,0.0,0.0,0.0
4,7,4.4,2.9,1.4,0.2,Iris-setosa,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
141,144,6.7,3.0,5.2,2.3,Iris-virginica,0.0,0.0,0.0,0.0
142,145,6.3,2.5,5.0,1.9,Iris-virginica,0.0,0.0,0.0,0.0
143,146,6.5,3.0,5.2,2.0,Iris-virginica,0.0,0.0,0.0,0.0
144,147,6.2,3.4,5.4,2.3,Iris-virginica,0.0,0.0,0.0,0.0
145,148,5.9,3.0,5.1,1.8,Iris-virginica,0.0,0.0,0.0,0.0

### BONUS: Create your own question and answer it.