In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"http://bit.ly/drinksbycountry")

In [ ]:
# Usando category da pra reduzir o peso do Dataframe
df.continent = df.continent.astype('category')
df.memory_usage(deep=True)

In [21]:

# Com o category tbm dá pra ordenar strings e dizer qual é melhor e qual é pior
# good < very good < excellent
from pandas.api.types import CategoricalDtype
df = pd.DataFrame({"ID":[102,101,203,405],"Quality":["good","very good",'good','excellent']})
# Passando a ordem de qual vale menos até qual vale mais no categories
cat_type = CategoricalDtype(categories=['good','very good','excellent'], ordered=True)
df.Quality = df.Quality.astype(cat_type)
df.sort_values("Quality")
df.loc[df.Quality >= 'very good',:]

    ID    Quality
1  101  very good
3  405  excellent

In [22]:
df = pd.read_csv(r"http://bit.ly/kaggletest")

In [25]:
# Criar coluna dummy 
pd.get_dummies(df.Sex)
# OR
pd.get_dummies(df,columns=['Sex','Embarked'],drop_first=True)

,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,892,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,True,True,False
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,False,False,True
2,894,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,True,True,False
3,895,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,True,False,True
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",NaN,0,0,A.5. 3236,8.0500,NaN,True,False,True
414,1306,1,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,False,False,False
415,1307,3,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,True,False,True
416,1308,3,"Ware, Mr. Frederick",NaN,0,0,359309,8.0500,NaN,True,False,True
417,1309,3,"Peter, Master. Michael J",NaN,1,1,2668,22.3583,NaN,True,False,False