In [ ]:
import pandas as pd
import numpy as np

In [ ]:
drinks = pd.read_csv(r"http://bit.ly/drinksbycountry")

In [ ]:
# Setando pra mostrar quantas rows e colunas você deseja
pd.options.display.max_rows = 999
pd.options.display.max_columns = None
# Setando pra mostrar quantos caracteres vai mostrar
pd.options.display.max_colwidth = 1000
# Setando a quantidade de numeros depois da virgula
pd.options.display.precision = 2
# Pesquisando options
pd.describe_option("rows")
# Resetando todas as options
pd.reset_option('all')

In [ ]:
train = pd.read_csv(r"http://bit.ly/kaggletrain")
train

In [38]:
# Criando um Dataframe usando um Dict
df = pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']},columns=['id','color'],index=['a','b','c'])
# Entende cada array como uma row
pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']],columns=['id','color'])
# Gerando informações com o numpy
pd.DataFrame({'student':np.arange(100,110,1),'grade':np.random.randint(30,101,10)}).set_index('student')
# Criando uma series e concatenando com o df
series = pd.Series(['round','square'],index=['c','b'],name='shape')
pd.concat([df,series],axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round